.ProgressBar {
  width: 100%;
  height: 20px;
  border: 2px solid #fff;
  position: relative;

  &-bar {
    height: 100%;
    background-color: #ff962a;
    transition: width 4s linear;

    .empty & {
      width: 0;
    }
  }
}



