<!DOCTYPE html>
<html>
<head>
	<title>Title</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="Page-wrap">
		<header class="Header">
			<div class="wrapper">
				<div class="row">
					<div class="cell-6">
						<div class="Button-wrap">
							<div class="Button-sidebarToggle"></div>
						</div>
					</div>
					<div class="cell-6">
						<div class="Date">
							<span class="Date-item">00</span>
							<span class="Date-item Date-item--colon">:</span>
							<span class="Date-item">00</span>
							<span class="Date-item Date-item--colon">:</span>
							<span class="Date-item">00</span>
						</div>
					</div>
				</div>
			</div>
			<ul class="Menu Menu--tablet" id="Menu--tablet">
				<li class="Menu-item" data-work="14">
					<a href="javascript:void(0)" class="Menu-link">
						<span>Homework_14</span>
					</a>
					<ul class="Menu-sublist">
						<li class="Menu-item" data-task="1">
							<a class="Menu-link" href="javascript:void(0)">
								<span>Cache function</span>
							</a>
						</li>
						<li class="Menu-item" data-task="2">
							<a class="Menu-link" href="javascript:void(0)">
								<span>Table form</span>
							</a>
						</li>
						<li class="Menu-item" data-task="3">
							<a class="Menu-link" href="javascript:void(0)">
								<span>Clock</span>
							</a>
						</li>
						<li class="Menu-item" data-task="4">
							<a class="Menu-link" href="javascript:void(0)">
								<span>Resize function</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="Menu-item disabled" data-work="15">
					<a href="javascript:void(0)" class="Menu-link">
						<span>Homework_15</span>
					</a>
				</li>
				<li class="Menu-item" data-work="16">
					<a href="javascript:void(0)" class="Menu-link">
						<span>Homework_16</span>
					</a>
					<ul class="Menu-sublist">
						<li class="Menu-item" data-task="1">
							<a class="Menu-link" href="javascript:void(0)">
								<span>Universal Timer</span>
							</a>
						</li>
						<li class="Menu-item" data-task="2">
							<a class="Menu-link" href="javascript:void(0)">
								<span>Multicolored Buttons</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="Menu-item disabled" data-work="17">
					<a href="javascript:void(0)" class="Menu-link">
						<span>Homework_17</span>
					</a>
				</li>
				<li class="Menu-item disabled" data-work="18">
					<a href="javascript:void(0)" class="Menu-link">
						<span>Homework_18</span>
					</a>
				</li>
			</ul>
		</header>
		<div class="Page">
			<div class="cell-none">
				<aside class="Sidebar">
					<nav class="Sidebar-content">
						<ul class="Menu" id="Menu">
							<li class="Menu-item" data-work="14">
								<a class="Menu-link" href="javascript: void(0)">
									<span>Homework #14</span>
								</a>
								<ul class="Menu-sublist">
									<li class="Menu-item" data-task="1">
										<a class="Menu-link" href="javascript:void(0)">
											<span>Cache function</span>
										</a>
									</li>
									<li class="Menu-item" data-task="2">
										<a class="Menu-link" href="javascript:void(0)">
											<span>Table form</span>
										</a>
									</li>
									<li class="Menu-item" data-task="3">
										<a class="Menu-link" href="javascript:void(0)">
											<span>Clock</span>
										</a>
									</li>
									<li class="Menu-item" data-task="4">
										<a class="Menu-link" href="javascript:void(0)">
											<span>Resize function</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="Menu-item disabled" data-work="15">
								<a class="Menu-link" href="javascript: void(0)">
									<span>Homework #15</span>
								</a>
							</li>
							<li class="Menu-item" data-work="16">
								<a class="Menu-link" href="javascript: void(0)">
									<span>Homework #16</span>
								</a>
								<ul class="Menu-sublist">
									<li class="Menu-item" data-task="1">
										<a class="Menu-link" href="javascript:void(0)">
											<span>Universal Timer</span>
										</a>
									</li>
									<li class="Menu-item" data-task="2">
										<a class="Menu-link" href="javascript:void(0)">
											<span>Multicolored Buttons</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="Menu-item disabled" data-work="17">
								<a class="Menu-link" href="javascript: void(0)">
									<span>Homework #17</span>
								</a>
							</li>
							<li class="Menu-item disabled" data-work="18">
								<a class="Menu-link" href="javascript: void(0)">
									<span>Homework #18</span>
								</a>
							</li>
						</ul>
					</nav>
				</aside>
			</div>
			<div class="cell-12">
				<main id="Main" class="Page-content">
					<div id="Content-area" class="Page-taskList">
						<div class="Page-taskItem" >
							<h4 class="Page-taskTitle">Примечания</h4>
							<p class="Page-taskText">Все задачи из конкретного домашнего задания находятся в одном файле потому что на меня ругается плагин и не дает собрать файлы не видя функции.</p>
							<p class="Page-taskText">Пока что некоторые функции можно вызвать только консолью.</p>
						</div>
					</div>
				</main>
			</div>
		</div>
		<footer class="Footer">
			<div class="wrapper">
				<div class="row">
					<div class="cell-6">
						<div class="Date">
							<span class="Date-item"></span>
							<span class="Date-item"></span>
							<span class="Date-item"></span>
					</div>
					</div>
					<div class="cell-6">
						<div class="Date fl-r" id="Stopwatch">
							<span class="Date-item"></span>
							<span class="Date-item--colon">:</span>
							<span class="Date-item"></span>
							<span class="Date-item--colon">:</span>
							<span class="Date-item"></span>
						</div>
					</div>
				</div>
			</div>
		
		</footer>
	</div>
</body>
<script defer src="../js/common.min.js"></script>
</html>