.Header {
  height: 60px;
  box-sizing: border-box;
  position: relative;
  background: #D03042;
  border-bottom: 3px #FFFFFF solid;

  & [class*="cell"], & .wrapper {
    height: 100%;
  }

  &-clocks {
    color: #FFF;

    &Item {
      font-size: 18px;

      &--colon {
        animation: colonFlicker 1s steps(2, start) infinite;
      }
    }
  }

}

