.Header {
  height: 60px;
  box-sizing: border-box;
  position: relative;
  background: #D03042;
  border-bottom: 3px #FFFFFF solid;

  & [class*="cell"], & .wrapper {
    height: 100%;
  }

  &-currentSize {
    position: absolute;
    right: 15px;
    top: 5px;
    color: white;
    text-decoration: underline;
    font-size: 14px;
  }

}

